.container_b181b6{background: var(--forums-background-color);}
.mainCard__8a660{background-color: var(--forums-buttons-color);}
.theme-dark .container__99b06.isOpen__8593d{background-color: var(--forums-buttons-open-color);}
.container__99b06:hover{background-color: var(--forums-buttons-hover-color);}
.root_a28985{background-color: var(--pop-up-top-color);background-image: var(--pop-up-top-image);background-size: var(--pop-up-top-image-size);}
.footer__89240{background-color: var(--pop-up-bottom-color);background-image: var(--pop-up-bottom-image);background-size: var(--pop-up-bottom-image-size);}
.lookFilled__19298.colorBrand_b2253e{background-color: var(--pop-up-button-color);}
.lookFilled__19298.colorBrand_b2253e:hover{background-color: var(--pop-up-button-hover-color);}
.linkCalloutContainer__8ff6e{border: var(--pop-up-link-border-size) var(--pop-up-link-border-type) var(--pop-up-link-border-color);background-color: var(--pop-up-link-border-background-color);}
.theme-dark .message__04d9f{background-color: var(--pop-up-message-background-color);}
.messagesPopoutWrap_b3b384{background-color: var(--pins-background-color);}
.header_f5cc88{background-color: var(--pins-header-background-color);}
.footer_a3029c{background-color: var(--pins-footer-background-color);}
.messageGroupWrapper_f8c6e9{background-color: var(--pins-messages-background-color);}
.jumpButton__0329d{background-color: var(--pins-jumpbutton-background-color);}
.menu_dc52c6{background-color: var(--selectionmenu-background-color);}
.colorDefault__0b482.focused__27621{background-color: var(--selectionmenu-focused-background-color);}
.colorDefault__0b482:active:not(.hideInteraction__2790e){background-color: var(--selectionmenu-holding-background-color);}
.message__80c10.selected_fd9051, .mouse-mode.full-motion .message__80c10:hover{background-color: var(--message-hover-background-color);}
.message__80c10.mentioned__58017.selected_fd9051, .mouse-mode.full-motion .mentioned__58017:hover{background-color: var(--mention-hover-color);}
