.container_b181b6{background: var(--forums-background-color);}
.mainCard__8a660{background-color: var(--forums-buttons-color);}
.theme-dark .container__99b06.isOpen__8593d{background-color: var(--forums-buttons-open-color);}
.container__99b06:hover{background-color: var(--forums-buttons-hover-color);}
